extends ../layout

block content
	ul
		li
			a(href='/tweets/#{user}') Tweets
		li
			a(href='/top/#{user}') Top
		li
			a(href='/gift/#{user}') Gift
			
	h1 #{user}'s tweets
	ul
		each tweet in result
			li= tweet.text